@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

/* Color Theme Swatches in Hex */
$Carbon-red-grey-1-hex: #5C5C5C;
$Carbon-red-grey-2-hex: #E41318;
$Carbon-red-grey-3-hex: #D5D5DB;
$Carbon-red-grey-4-hex: #333333;

$text-color: #FFFFFF;
$textColorYellow: #fdcb03;

$background-color:#283644;
$BackgroundColor2: #11161c;

$BackgroundColorShowMore:#1b1b1b;
$BackgroundColorShowMoreButton:#fdcb03;

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0px;
  height: 100vh;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  background-color: $background-color;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

.main>.content {
  //padding: 20px;
  padding-bottom: 80px;
}

.content iframe.mixcloud-podcast {
  width: 100%;
}

.bottom-bar-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ed1a3b;
  height: 80px;
}

.nav-item {
  display: flex;
}


.bottom-bar-navigation .img-cover img {
  height: 80px;
  max-width: 80px;
}

.nav-item .player-box {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.nav-item .player-box .song-info {
  padding-right: 10px;
}

.nav-item .player-box .song-info .artist-name {
  padding-right: 10px;
  font-size: 14px;
}

.nav-item .player-box .song-info .song-name {
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Drawer */
.drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.open {
    transform: translateY(0);
  }

  .close-button {
    text-align: right;
    padding: 8px;
    height: 80px;
    background-color: #ed1a3b;
  }

  .menu {
    background-color: #ed1a3b;
  }

  .menu li {
    font-size: 22px;
    list-style-type: none;
    padding: 22px;
  }

  .menu li:hover {
    background-color: #a74f4f;
  }
}

/* */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: inherit;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.show-more-spinner-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .loader-wrapper {}

  p {
    font-size: 7em;
  }
}

/* Podcast list page */
.podcast-page {
  .podcast-list-header {
    background-color: $BackgroundColor2;
    padding: 20px;
  }

  .podcast-list {


    &>ul {
      &>li {
        padding: 10px 20px;

        &.podcast-list-item:nth-child(2n-1) {
          background-color: rgb(63, 77, 97);
        }
      }
    }
  }

  .podcast-list-show-more {
    text-align: center;
    padding: 20px 0;
    background-color: $BackgroundColorShowMore;

    @keyframes showMoreAnimation {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 1;
      }
    }

    @-webkit-keyframes showMoreAnimation {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 1;
      }
    }


    &>p.loading {
      -webkit-animation: showMoreAnimation 2.0s infinite linear;
      animation: showMoreAnimation 2.0s infinite linear;
    }

    p {
      display: inline;
      padding: 10px 30px;
      border-radius: 12px;
      font-weight: 600;
      background-color: $BackgroundColorShowMoreButton;
      color: $background-color;
    }
  }
}

/* Palinsesto */
.palinsesto {
  h3 {
    text-align: left;
    font-size: 26px;
  }

  .palinsesto-header {
    padding: 1px 10px;

    p {
      border-bottom: 1px solid white;
      padding-bottom: 15px;
      font-size: 16px;
    }

    .palinsesto-navbar {

      ul {
        padding: 10px;
        border-radius: 30px;
        background-color: $BackgroundColor2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 10px;


        li {
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 15px 0;
          flex-basis: 14%;
        }

        li.active {
          color: $textColorYellow;
        }
      }
    }
  }

  .palinsesto-list {
    padding: 0px 10px;

    .palinsesto-list-item {
      display: flex;
      position: relative;
      padding: 20px 0px;

      .palinsesto-item-timer {
        /*   background-color: #292A2B; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $textColorYellow;
        font-size: 12px;
        padding: 0px 10px;

        &::after {
          position: absolute;
          content: '';
          width: 1px;
          background-color: $Carbon-red-grey-3-hex;
          height: 100%;
          top: 0;
          left: 30px;
          z-index: -3;
        }

        p {
          background-color: $BackgroundColor2;
          padding: 5px;
          border-radius: 5px;
        }
      }

      .palinsesto-desc {
        .palinsesto-item-header {
          background-color: #f1f1f1;
        }


        .palinsesto-title {
          font-weight: 600;
        }

        .palinsesto-title,
        .palinsesto-title a:visited,
        .palinsesto-title a:link {
          font-size: 22px;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}

/*programma-details*/
.programma-details {
  width: 100%;

  .header {
    text-align: center;
    background-color: $BackgroundColor2;
    padding: 20px;

    .info {
      .show-description-button {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;


        >span {
          max-width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.9rem;
          border-radius: 15px;
          border: 2px solid #fff;
          padding: 5px 10px;
        }
      }

      .description {
        text-align: left;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;

        &.show {
          max-height: 1000px;
        }
      }
    }
  }

  .podcasts {
    .last-podcast {
      padding: 0px 20px;
    }

    div.podcast-archive {
      &>.podcast-archive-header {
        h2 {
          //color:$textColorYellow;
          padding: 0 20px;
        }
      }

      ul.podcast-archive-list {
        li.podcast-archive-list-item {
          padding: 10px 20px;

          &>.archive-item-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              padding-right: 10px;
            }

            p.podcast-date {
              color: #bbb;
            }

            p.podcast-short-title {
              font-weight: 600;
              font-size: 1.4em;
              color: $textColorYellow;
            }
          }

          &>div.desc-content {
            max-height: 0px;
            overflow: hidden;
            transition: all 0.5s ease 0ms;
            height: auto;

            &.show {
              max-height: 500px;
            }
          }

        }

        li.podcast-archive-list-item:nth-child(2n-1) {
          background-color: rgb(63, 77, 97);
        }
      }
    }
  }
}